@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

body{
	font-family: 'Roboto', sans-serif;	
	margin:0px;
	padding:0px;
}

.clear{
	clear:both;	
}

.hidden{
	display:none;
}

.generuje{
	display:none;
}

.clear-0{
	clear:both;
	height:0px;	
}

header{
	background-color: rgba(13, 134, 54, 0.8);
	position:fixed;
	width:100%;
	z-index:3;
}	

header > .wrapper{
	width: 85%;
	max-width:1100px;	
	margin:0 auto;
	padding:10px 0 10px 0;
}

header > .wrapper > .logo{
	max-width:200px;	
	float:left;
}


header > .wrapper > .right{
	float:right;
	margin-top:10px;
	text-align:right;
}

header > .wrapper > .right > .contact{
	position:relative;
	text-align:right;
	float:right;
	color:#FFF;
}

.fa-big{
	font-size:24pt;
	padding-right:15px;
}

header > .wrapper > .right > ul.menu{
	position:relative;
	list-style:none;
	padding:0px;	
	font-weight:bold;
	font-size:13pt;
	text-align:right;
}

header > .wrapper > .right > ul.menu > li{
	display:inline;
	padding:10px 15px 10px 15px;
	color:#FFF;
	
	transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out;
	
}

header > .wrapper > .right > ul.menu > li > a{
	color:#FFF;
	text-decoration:none;	
}

header > .wrapper > .right > ul.menu > li:hover, header > .wrapper > .right > ul.menu > li.active{
	background-color:#e98701;
	color:#FFF;	
}

.mobil-menu {
	display:none;
}

@media screen and (max-device-width: 1079px) {
/* #menu is the original menu */
	ul.menu {
		display:none;
	}
	
	.mobil-menu {
		display:block;
	}
	
	.slicknav_nav{
		background-color: rgba(13, 134, 54, 0.8);
		padding:10px;
		margin-top:10px;
	}
	
	header{
		position:relative;	
	}
}

@media screen and (max-device-width: 720px) {
	header > .wrapper > .right > .contact{
		display:none;	
	}
	
	header > .wrapper{
		text-align:center;	
	}
	
	header > .wrapper > .logo{
		float:left;	
	}
	
	header > .wrapper > .menu{
		float:right;	
	}
}

@media screen and (max-device-width: 386px) {
	
	header > .wrapper > .logo{
		display:none;
	}
	
	header > .wrapper > .menu{
		float:none;	
	}
}

/* Slider */

#slider{
	width:100%;
	height:500px;	
	position:relative;
	top:0px;
	z-index: 1;
}

#slider .slider-mini{
	height:185px !important;	
}

nav.down{
	position: absolute;
	z-index: 5;
	bottom: 10px;
	text-align: center;
	width: 100%;
	width:120px;
	height:60px;
	background-color:#FFF;
	left:46%;
	bottom:0px;
	padding-top:10px;
	cursor:pointer;
}

nav.down > a{
	color:#000;
	text-align:center;
	font-weight: bold;
	text-decoration:none;	
}

nav.down > a > img{
   margin: 10px 0;
}

/* Content */

.content{
	position:relative;
	width: 85%;
	max-width:1100px;	
	margin:0 auto;
}

/* H2 Line */

span.line{
	display:block; 
	margin:25px;
}

span.line > h2{
	text-align:center; 
	border-bottom:1px solid #000; 
	position:relative; 
}

span.line > h2 > span{ 
	background-color: #FFF; 
	position: relative; 
	top: 14px; 
	padding: 0 25px;
}

span.line-green{
	margin-top:10px !important;	
	margin-bottom:35px !important;
}

span.line-green > h2{
	border-bottom-color:#FFF !important; 
	margin-top:0px !important;
}

span.line-green > h2 > span{
	background-color: #0d8636 !important;
}

/* Menu */

.carte > tbody > tr > td > h3{
	color:#333;
	font-style:italic;	
}

/* Footer */
#map-footer{
	widows:100%;
	height:400px;
	z-index:1;	
	margin-top:10px;
}

.bottom{
	width:40%;
	height:300px;
	margin:0 auto;
	margin-top:-350px;
	margin-right:10%;
	z-index:2;
	position:relative;
	float:right;
	background-color:#FFF;
	padding:10px;
	padding-left:25px;
	box-shadow: 0 .5em 1em rgba(0,0,0,.25);
}

.bottom::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  background-image: repeating-linear-gradient(45deg, #328750 0em, #328750 .375em, white .375em, white .75em, #e98701 .75em, #e98701 1.125em);
}

.bottom > .left{
	float:left;
	width:47%;
}

.bottom > .left > h2{
	margin:5px 0px 0px 0px;	
	color: rgb(13, 134, 54);
}

.bottom > .left > h3{
	margin:0px 0px 10px 0px;
	color: rgb(13, 134, 54);
	font-size:12pt;
	font-style:italic;
}

.fa-padding-right{
	margin-right:15px;	
}

.bottom > .right{
	float:right;	
	width:47%;
	padding-left:15px;
	border-left:#CCC dashed 1px;
	height:300px;
}

@media screen and (max-device-width: 837px) {
	.bottom > .right{
		display:none;	
	}
	
	.bottom > .left{
		width:100%;	
	}
}

@media screen and (max-device-width: 435px) {
	.bottom{
		width:70%;	
	}
}

label{
	float:right;
	margin:4px 0px 4px 0px;	
}

input[type=text], input[type=email]{
	float:right;
	border:#000 solid 1px;
	width:90%;
	padding:8px 5px 8px 5px;
}

textarea{
	float:right;
	border:#000 solid 1px;
	width:90%;
	height:80px;
	padding:8px 5px 8px 5px;	
}

input[type=submit]{
	float:right;
	border:#000 solid 1px;
	width:50%;
	padding:8px 5px 8px 5px;
	background-color:#FFF;
	margin-top:5px;
}

input[type=submit]:hover{
	background-color:#EEE;
}

footer{
	background-color:#0d8636;
	width:100%;
	/*height:50px;*/
	padding:10px 0;
	color:#FFF;
}

footer > .wrapper{
	width:80%;
	max-width:1100px;
	margin:0 auto;	
}

footer > .wrapper > .left{
	float:left;
	text-align:left;
	width:31%;	
}

footer > .wrapper > .center{
	float:left;
	text-align:left;
	width:33%;	
	border-left:#999 dashed 1px;
	border-right:#999 dashed 1px;
	padding:0px 10px 0px 10px;
}

footer > .wrapper > .right{
	float:right;
	text-align:left;	
	width:31%;
}

footer > .wrapper > .right > ul, footer > .wrapper > .right > span > ul{
	list-style:none;	
	padding:0px;
	margin:0px;
}

footer > .wrapper > .right > ul > li, footer > .wrapper > .right > span > ul > li{
	border-top:#FFF 1px dotted;
	padding:5px 0px	5px 5px;	
}

footer > .wrapper > .right > ul > li:hover, footer > .wrapper > .right > span > ul > li:hover{
	border-top:solid 1px !important;	
}

footer > .wrapper > .right > ul > li:first-child, footer > .wrapper > .right > span > ul > li:first-child{
	border-top:none !important;
	border-bottom:1px dashed #0d8636 !important;	
}

footer > .wrapper > .right > ul > li:first-child:hover, footer > .wrapper > .right > span > ul > li:first-child:hover{
	border-top:none !important;	
	border-bottom: solid 1px !important;
}

footer > .wrapper > .right > ul > li > a, footer > .wrapper > .right > span > ul > li > a{
	text-decoration:none;
	color:#FFF;	
}

footer > .wrapper > .border-bottom{
	border-bottom:#999 dashed 1px;	
	position:relative;
	top:-19px;
}

footer > .wrapper > .right-right{
	float:right;
	text-align:right;	
	width:33%;
}

/*Novinky*/

h3 > a{
	color: #e98701;	
}

strong > a{
	color: #e98701;	
}

@media screen and (max-device-width: 720px) {
	footer > .wrapper > .left, footer > .wrapper > .center, footer > .wrapper > .right{
		float:none;
		width:100%;
		border:none;	
	}
}